<h1>Add or Update an iNow Account</h1>

<p>Enter your iNow username and password below to add it to your GradeViewer account. We'll automatically update all of your classes with your latest grades.</p>

<%= render 'form' %>