<div class="ui breadcrumb">
  <%= link_to 'My Courses', courses_path, class: 'section' %>
  <span class="divider">/</span>
  <div class="active section">New Course</div>
</div>

<div class="ui divider"></div>

<h1>New Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Back', courses_path %>
